.main-heading {
    margin: 156px 0 26px;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    color: $white;
    width: 40%;
}

.main-description {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    width: 50%;
}

.primary-button {
    margin: 34px 0 160px;
    height: 48px;
    width: 170px;
    background: $yellow;
    border-radius: 24px;
    border: none;
    color: $white;
}

@media (max-width: 375px) {
    .main-heading {
        font-size: 56px;
        line-height: 64px;
        width: auto;
        margin: 296px 0 22px;
    }
    .main-description {
        width: auto;
    }
    .primary-button {
        margin: 18px 0 32px;
    }
}