.navbar {
    padding: 15px 0 !important;
    .container {
        padding: 0;
        @include flex-row;
        align-items: center;
        .nav-title-container {
            width: 80%;
            justify-content: flex-end;
            @include flex-row;
            ul {
                width: 100%;
                display: flex;
                list-style: none;
                justify-content: space-between;
                margin-top: 0;
                margin-bottom: 0;
                color: $white;
            }
            .nav-buttons-container {
                @include flex-row;
                .search {
                    margin: 0 32px 0 56px;
                }
                .burger {
                    width: 24px;
                    height: 20px;
                }
            }
        }
    }
    background: #5927a5cc;
}

@media (max-width: 375px) {
    .navbar {
        .container {
            .nav-title-container {
                ul {
                    display: none !important;
                    position: absolute;
                }
            }
        }
    }
}