.offers-section {
    background: #FDF2FF;
    padding: 55px 0 112px;
    .container {
        @include flex-column;
        align-items: center;
        .description {
            margin: 23px 0 48px;
            width: 50%;
            text-align: center;
        }
        .offers-cost-container {
            .transp-description {
                margin-bottom: 8px;
            }
            @include flex-row;
            width: 100%;
            justify-content: space-between;
            .offer-cost-item {
                width: 31%;
                @include flex-column;
                align-items: center;
                padding: 53px 100px 48px;
                background: $white;
                box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
                border-radius: 3px;
                .main-heading {
                    color: #333;
                    margin: 7px 0 26px;
                    width: 100%;
                    text-align: center;
                }
                .primary-button {
                    margin: 42px 0 0px;
                    border: 1px solid #C86DD7;
                    background: $white;
                    color: #C86DD7;
                    font-weight: bold;
                }
            }
            .main-offer-cost-item {
                width: 31%;
                @include flex-column;
                align-items: center;
                padding: 53px 100px 48px;
                border-radius: 3px;
                background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
                box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.101959);
                .main-heading {
                    margin: 7px 0 26px;
                    width: 100%;
                    text-align: center;
                }
                .third-heading {
                    color: $white;
                }
                .transp-description {
                    color: $white;
                }
                .primary-button {
                    margin: 42px 0 0px;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .offers-section {
        padding: 54px 0 80px;
        .container {
            .description {
                width: 100%;
                margin-bottom: 20px;
            }
            .offers-cost-container {
                @include flex-column;
                .offer-cost-item,
                .main-offer-cost-item {
                    width: 100%;
                    padding: 53px 88px 48px;
                    margin-top: 16px;
                }
            }
        }
    }
}