.veritatis-section {
    .container {
        .veritatis-image-container {
            @include flex-row;
            .veritatis-image-first {
                // flex: 2;
                background: no-repeat url('./img/Bitmap (2).png');
                width: 100%;
                height: 100%;
            }
            .veritatis-image-second {
                // flex: 1;
            }
            .veritatis-image-third {
                // flex: 1;
            }
        }
    }
}