section.awards-section
    .container
        .awards-description
            .second-heading Asperiores repellat
            .description  Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
            .awards-items-container 
                .awards-line-container
                    .awards-item 
                        .awards-item-image
                            img(src="../img/Shape (8).png")
                        .third-heading Eiusmod
                        .transp-description Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    .awards-item 
                        .awards-item-image 
                            img(src="../img/Shape (9).png")
                        .third-heading Tempor
                        .transp-description Duis aute irure dolor in reprehenderit voluptate velit esse cillum dolore
                .awards-line-container
                    .awards-item 
                        .awards-item-image 
                            img(src="../img/Shape (10).png")
                        .third-heading Consequat
                        .transp-description Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    .awards-item 
                        .awards-item-image 
                            img(src="../img/Shape (11).png")
                        .third-heading Dolore
                        .transp-description Unde omnis iste natus error sit voluptatem accusantium
        .awards-image 
            img(src="../img/Bitmap.png")