section.contacts-section 
    .container 
        .contacts-information 
            .second-heading Repudiandae
            .main-transp-description Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias.
            .third-heading Aspernatur
            .transp-description 123 earum rerum hic tenetur a sapiente delectus, 42
            .third-heading Reiciendis
            .transp-description +1 (234) 567 89 01 maiores@info.com
            .contacts-link-container
                img(src="./img/Shape (12).png")
                img(src="./img/Shape (13).png").inst
                img(src="./img/Shape (14).png")
        .contacts-form
            .third-heading Alias consequatur
            .description-small Your name
            input(type="text" placeholder="Name").name-form
            .description-small Your email
            input(type="text" placeholder="Email").mail-form
            .description-small Your message
            input(type="description" placeholder="Message").message-form
            button.primary-button Send
