footer 
    .container
        .footer-contacts-container 
            .footer-contacts-item
                .description Consectetur
                .transp-description Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .footer-contacts-item
                .description Tempor
                ul 
                    li Sunt in culpa qui officia 
                    li Deserunt mollit anim
                    li Sed ut perspiciatis
            .footer-contacts-item
                .description Magna
                ul 
                    li 123 dignissimos ducimus, 42 
                    li minim@info.com
                    li +1 (234) 567 89 01
            .footer-contacts-item
                .description Omnis
                .footer-mail-container
                    input(type="text" placeholder="Name").footer-mail
                    button.button-footer
                        img(src="./img/Path.png")
    .transp-description-end Copyright 2019. All Rights Reserved.
        