section.help-section
    .container 
        .help-image-container
            .help-image-background 
                .help-image
                    img(src="../img/Bitmap (1).jpg")
        .help-description-container 
            .second-heading Poris suscipit laboriosam
            .description Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            .transp-description Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
            .help-form-container
                input(type="text" placeholder="Your email").help-mail
                button.primary-button Contact us
            .description-small Quis nostrum exercitationem