section.home-section
    .container
        .main-heading Sint et molestiae recusandae
        .main-description Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
        button.primary-button Read more