nav.navbar
    .container
        .logo
            img(src="../img/RELAP.png") 
        .nav-title-container
            ul 
                li Home 
                li Features 
                li Works 
                li About 
                li People
                li News 
                li Contacts
            .nav-buttons-container
                .search
                    img(src="../img/Shape.png")
                .burger
                    img(src="../img/Shape (1).png")

        