section.news-section 
    .container
        .second-heading Nisi aliquid
        .news-items-container 
            .news-item 
                .news-item-image-first 
                    img(src="./img/Bitmap (2).jpg")
                .news-description
                    .description-small June 01/ 2019
                    .third-heading Dolorem eum fugiat quo voluptas
                    .transp-description Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae.
            .news-item 
                .news-item-image-second
                    img(src="./img/Bitmap (3).jpg")
                .news-description
                    .description-small June 02/ 2019
                    .third-heading Accusamus et iusto odio dignissimos
                    .transp-description Atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
            .news-item 
                .news-item-image-third 
                    img(src="./img/Bitmap (4).jpg")
                .news-description
                    .description-small June 03/ 2019
                    .third-heading Ducimus qui blanditiis praesentium
                    .transp-description Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta.