section.offers-section 
    .container 
        .second-heading Totam aperiam
        .description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        .offers-cost-container 
            .offer-cost-item 
                .third-heading Sunt in culpa
                .main-heading $9
                .transp-description • Qui officia deserunt
                .transp-description • Mollitia animi
                .transp-description • Laborum et dolorum
                button.primary-button Buy plan
            .main-offer-cost-item 
                .third-heading Distinctio
                .main-heading $18
                .transp-description • Qui officia deserunt
                .transp-description • Mollitia animi
                .transp-description • Laborum et dolorum
                button.primary-button Buy plan
            .offer-cost-item 
                .third-heading Soluta nobis
                .main-heading $97
                .transp-description • Qui officia deserunt
                .transp-description • Mollitia animi
                .transp-description • Laborum et dolorum
                button.primary-button Buy plan