section.reviews-section 
    .container
        .second-heading Eaque ipsa
        .description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        #carouselExampleIndicators.carousel.slide(data-bs-ride='carousel')
            .carousel-inner
                .carousel-item.active
                    .reviews-users-containers
                        .reviews-users-container
                            .review-user-first
                                .review-user-avatar 
                                    //- img(src="./img/Oval.png")
                                .transp-description "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."
                                .third-heading Vikentiy Chaykovsky
                            .review-user-second
                                .review-user-avatar 
                                    //- img(src="./img/Oval (1).png")
                                .transp-description "Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."
                                .third-heading Richardo Kann
                .carousel-item
                    .reviews-users-containers
                        .reviews-users-container
                            .review-user-first
                                .review-user-avatar 
                                    //- img(src="./img/Oval.png")
                                .transp-description "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."
                                .third-heading Vikentiy Chaykovsky
                            .review-user-second
                                .review-user-avatar 
                                    //- img(src="./img/Oval (1).png")
                                .transp-description "Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."
                                .third-heading Richardo Kann
            .reviews-button-container
                button.carousel-control-prev(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='prev')
                    //- span.carousel-control-prev-icon(aria-hidden='true')
                    //- span.visually-hidden Previous
                    .carousel-control-prev-icon
                        img(src="./img/Path.svg").carousel-control-prev-icon-img
                button.carousel-control-next(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='next')
                    //- span.carousel-control-next-icon(aria-hidden='true')
                    //- span.visually-hidden Next
                    .carousel-control-next-icon
                        img(src="./img/Path.svg").carousel-control-next-icon-img