section.Sapiente-delectus
  .container 
    .second-heading Sapiente delectus
    .description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
    .service-cards-container 
      .service-cards-item
        .service-cards-item-image
          img(src="../img/Shape (2).png")
        .thirty-heading Consequuntur
        .service-cards-item-description Enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
      .service-cards-item
        .service-cards-item-image
          img(src="../img/Shape (3).png")
        .service-cards-item-heading Voluptatem
        .service-cards-item-description Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
      .service-cards-item
        .service-cards-item-image
          img(src="../img/Shape (4).png")
        .service-cards-item-heading Quisquam
        .service-cards-item-description Quis nostrum exercitationem ullam corporis suscipit laboriosam
      .service-cards-item
        .service-cards-item-image
          img(src="../img/Shape (5).png")
        .service-cards-item-heading Aliquid
        .service-cards-item-description Quis autem vel eum iure reprehenderit voluptate velit esse quam nihil
      .service-cards-item
        .service-cards-item-image
          img(src="../img/Shape (6).png")
        .service-cards-item-heading Excepteur
        .service-cards-item-description Sint occaecat cupidatat non proident culpa qui officia deserunt mollit anim
      .service-cards-item
        .service-cards-item-image
          img(src="../img/Shape (7).png")
        .service-cards-item-heading Accusamus
        .service-cards-item-description Odio dignissimos ducimus qui blanditiis praesentium voluptatum