section.services-section
  .container 
    .second-heading Sapiente delectus
    .description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
    .service-cards-container 
      .service-cards-item
        .service-cards-item-image
          img(src="../img/Shape (2).png")
        .third-heading Consequuntur
        .transp-description Enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
      .service-cards-item
        .service-cards-item-image
          img(src="../img/Shape (3).png")
        .third-heading Voluptatem
        .transp-description Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
      .service-cards-item
        .service-cards-item-image
          img(src="../img/Shape (4).png")
        .third-heading Quisquam
        .transp-description Quis nostrum exercitationem ullam corporis suscipit laboriosam
      .service-cards-item
        .service-cards-item-image
          img(src="../img/Shape (5).png")
        .third-heading Aliquid
        .transp-description Quis autem vel eum iure reprehenderit voluptate velit esse quam nihil
      .service-cards-item
        .service-cards-item-image
          img(src="../img/Shape (6).png")
        .third-heading Excepteur
        .transp-description Sint occaecat cupidatat non proident culpa qui officia deserunt mollit anim
      .service-cards-item
        .service-cards-item-image
          img(src="../img/Shape (7).png")
        .third-heading Accusamus
        .transp-description Odio dignissimos ducimus qui blanditiis praesentium voluptatum