section.statistic-section
    .container 
        .static-image-container
            .statistic-image-background 
                .statistic-image
                    img(src="../img/Bitmap.jpg" width="100%")
        .statistic-description-container 
            .second-heading Reiciendis voluptatibus
            .description Nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
            .transp-description Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
            .indicators-container
                .indicators-item
                    .count 42%
                    .count-description Alias consequatur
                .indicators-item
                    .count +73
                    .count-description Perferendis doloribus
            button.primary-button Features
