section.veritatis-section 
    .container 
        .veritatis-container
            .second-heading Veritatis
            .description Placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
            button.primary-button See all
        .veritatis-image-container 
            .veritatis-image-first
                .third-heading Iste natus error sit voluptatem
                .description Accusantium doloremque
            .veritatis-image-second
                .third-heading Totam rem aperiam
                .description Eaque ipsa 
            .veritatis-image-third
                .third-heading Quae ab illo inventore
                .description Veritatis