section.veritatis-section 
    .container 
        .veritatis-container
            .second-heading Veritatis
            .transp-description Placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
            button.primary-button See all
        .veritatis-image-container 
            .veritatis-image-first
                //- img(src="../img/Bitmap(2).png" width="100%")
                .third-heading Iste natus error sit voluptatem
                .description Accusantium doloremque
            .veritatis-image-second
                //- img(src="../img/Bitmap (1).png" width="100%")
                .third-heading Totam rem aperiam
                .description Eaque ipsa 
            .veritatis-image-third
                //- img(src="../img/Bitmap (3).png" width="100%")
                .third-heading Quae ab illo inventore
                .description Veritatis